<div class="page-header">
    <h1>New users</h1>
</div>

<% form_for(users, {action: path_to.users(), method: 'POST', id: "users_form", class: 'form-horizontal'}, function (form) { %>
    <%- partial('users/form.ejs', {locals: {form: form, users: users}}) %>
    <div class="form-actions">
        <%- form.submit('<i class="icon-ok icon-white"></i> Create users', {class: 'btn btn-primary'}) %> or
        <%- link_to('Cancel', path_to.users(), {class: 'btn'}) %>
    </div>
<% });%>
